<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/table.css">
    <title>Organisations</title>
    <link rel="icon" href="/images/logo_left.png">
</head>

<body>

    <!-- sidebar -->
    <div id="l-sidebar" class="sidebar-active no-transition">

        <!-- header -->
        <div id="sidebar-header" class="d-flex align-items-center">
            <a href="/"><img class="navbar-brand" src="/images/logo.png" alt="logo"></a>
        </div>

        <!-- navigation links -->
        <ul class="list-unstyled d-flex flex-column justify-content-between">

            <!-- top -->
            <div class="top">
                <li class="nav-link">
                    <a href="/admin/dashboard" class="text-decoration-none d-block">
                        <i class="fa-solid fa-gauge text-center"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/admin/users" class="text-decoration-none d-block">
                        <i class="fa-solid fa-users text-center"></i>
                        <span>Comptes</span>
                    </a>
                </li>
                <li class="nav-link link-active">
                    <a href="/admin/organizations" class="text-decoration-none d-block">
                        <i class="fa-regular fa-building text-center"></i>
                        <span>Organisations</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/admin/recruiter-requests" class="text-decoration-none d-block">
                        <i class="fa-solid fa-user-plus text-center"></i>
                        <span>Demandes recruteur</span>
                    </a>
                </li>
            </div>

            <!-- bottom -->
            <div class="bottom">
                <li class="nav-link">
                    <a href="/logout" class="text-decoration-none d-block">
                        <i class="fa-solid fa-right-from-bracket text-center"></i>
                        <span>Déconnexion</span>
                    </a>
                </li>
            </div>
        </ul>
    </div>

    <!-- top navbar -->
    <nav id="top-navbar" class="body-padding no-transition">
        <div id="top-navbar-content" class="d-flex flex-row align-items-center justify-content-between">
            <i id="toggler" class="fa-solid fa-bars fa-xl clickable"></i>
            <div class="account d-flex flex-row align-items-center">
                <span><%= user.first_name %> <%= user.last_name %></span>
                <i class="fa-solid fa-user fa-xl clickable"></i>
            </div>
        </div>
    </nav>

    <!-- content -->
    <div id="wrapper" class="body-padding no-transition">
        <div id="content">
            <h1>Liste des organisations</h1>

            <!-- user table -->
            <div class="table-overview">

                <!-- table header -->
                <div class="table-header d-flex flew-row justify-content-between align-items-center">
                    <h2 class="table-title">Organisations</h2>
                    <div>
                        <button class="filter-button" data-bs-toggle="modal" data-bs-target="#organizations-modal">Filtrer</button>
                    </div>
                </div>

                <div class="overview-table">
                    <!-- table -->
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Nom</td>
                                <td>SIREN</td>
                                <td>Statut</td>
                                <td>Type</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <% organizations.forEach((organization) => { %>
                            <tr scope="row">
                                <td class="cell-name d-flex flex-row align-items-center">
                                    <div><i class="fa-solid fa-building"></i></div>
                                    <div class="info d-flex flex-column">
                                        <span><%= organization.name %></span>
                                        <span><%= moment(organization.creation_date).format('DD/MM/YYYY') %></span>
                                    </div>
                                </td>
                                <td class="cell-siren">
                                    <span><%= organization.siren %></span>
                                </td>
                                <td class="cell-status">
                                    <span class="status" data-status="<%= organization.status %>">
                                        <%= organization.status === 'active' ? 'Actif' : 'Inactif' %>
                                    </span>
                                </td>
                                <td class="cell-type">
                                    <span><%= organization.type %></span>
                                </td>
                                <td class="cell-edit">
                                    <a href="/admin/organizations/<%= organization.siren %>"><i class="fa-solid fa-pen-to-square"></i></a>
                                </td>
                            </tr>
                            <% }) %>

                            <!-- case in which no data is found -->
                            <% if(organizations.length === 0) { %>
                                <tr><td colspan="10" class="text-center">Aucune organisation trouvée.</td></tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- pagination -->
            <% if(pagination !== null) { %>
            <div class="pagination-container d-flex align-items-center justify-content-center">
                <nav aria-label="pagination">

                    <ul class="pagination">
                        <!-- previous -->
                        <li class="page-item <%= pagination.previous === undefined ? 'disabled' : '' %>">
                            <a class="page-link previous" href="<%= pagination.previousURL %>">
                                <i class="fa-solid fa-angle-left"></i>
                            </a>
                        </li>

                        <!-- page numbers -->
                        <% pagination.pagesURL.forEach((page) => { %>
                        <li class="page-item">
                            <a class="page-link <%= page.number == pagination.current ? 'page-current' : '' %>" href="<%= page.url %>">
                                <%= page.number %>
                            </a>
                        </li>
                        <% }) %>

                        <!-- next -->
                        <li class="page-item <%= pagination.next === undefined ? 'disabled' : '' %>">
                            <a class="page-link next" href="<%= pagination.nextURL %>">
                                <i class="fa-solid fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <% } %>
        </div>
    </div>

    <!-- filters -->
    <div id="organizations-modal" class="modal fade filter-modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">

            <!-- modal header -->
            <div class="modal-header">
              <h5 class="modal-title">Filtres</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- modal body -->
            <div class="modal-body">

                <!-- name -->
                <div class="form-group">
                    <label for="name" class="control-label">Nom</label>
                    <input type="text" name="name" class="form-control filter" id="name" data-filter-name="name" data-filter-type="contains">
                </div>

                <!-- type -->
                <div class="form-group">
                    <label for="type" class="control-label">Type</label>
                    <select name="type" id="type" class="filter" data-filter-name="type" data-filter-type="eq">
                        <option value="">Tout</option>
                        <option value="association">Association</option>
                        <option value="sarl">SARL</option>
                        <option value="eurl">EURL</option>
                        <option value="sasu">SASU</option>
                    </select>
                </div>

                <!-- creation_date -->
                <div class="form-group">
                    <label for="creationDate" class="control-label">Date de création</label>
                    <div class="d-flex flex-row align-items-center">
                        <input type="date" name="creationDateFrom" class="form-control filter" id="creationDate" data-filter-name="creation_date" data-filter-type="ge">
                        <span class="ms-2 me-2"> au </span>
                        <input type="date" name="creationDateTo" class="form-control filter" id="creationDate" data-filter-name="creation_date" data-filter-type="le">
                    </div>
                </div>

                <!-- status -->
                <div class="form-group">
                    <label for="status" class="control-label">Statut</label>
                    <select name="status" id="status" class="filter" data-filter-name="status" data-filter-type="eq">
                        <option value="">Tout</option>
                        <option value="active"><%= util.getStatusName('active') %></option>
                        <option value="inactive"><%= util.getStatusName('inactive') %></option>
                    </select>
                </div>
            </div>

            <!-- modal footer -->
            <div class="modal-footer">
                <button type="button" class="modal-clear-filter-button">Réinitialiser</button>
                <button type="button" class="modal-filter-button">Filtrer</button>
            </div>
          </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <script src="/javascript/dashboard.js"></script>
    <script src="/javascript/filters.js"></script>

</body>

</html>