<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="/stylesheets/card.css">
    <link rel="stylesheet" href="/stylesheets/table.css">
    <link rel="stylesheet" href="/stylesheets/job-offer-form.css">
    <title><%= title %></title>
    <link rel="icon" href="/images/logo_left.png">
</head>

<body>

    <!-- sidebar -->
    <div id="l-sidebar" class="sidebar-active no-transition">

        <!-- header -->
        <div id="sidebar-header" class="d-flex align-items-center">
            <a href="/"><img class="navbar-brand" src="/images/logo.png" alt="logo"></a>
        </div>

        <!-- navigation links -->
        <ul class="list-unstyled d-flex flex-column justify-content-between">

            <!-- top -->
            <div class="top">
                <li class="nav-link">
                    <a href="/recruiter/dashboard" class="text-decoration-none d-block">
                        <i class="fa-solid fa-gauge text-center"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>
                <li class="nav-link link-active">
                    <a href="/recruiter/offers" class="text-decoration-none d-block">
                        <i class="fa-solid fa-folder-open text-center"></i>
                        <span>Offres d'emploi</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/recruiter/applications" class="text-decoration-none d-block">
                        <i class="fa-solid fa-clipboard-user text-center"></i>
                        <span>Candidatures</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/recruiter/recruiter-requests" class="text-decoration-none d-block">
                        <i class="fa-solid fa-user-plus text-center"></i>
                        <span>Demandes recruteur</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/recruiter/my-organization" class="text-decoration-none d-block">
                        <i class="fa-solid fa-building text-center"></i>
                        <span>Mon organisation</span>
                    </a>
                </li>
            </div>

            <!-- bottom -->
            <div class="bottom">
                <li class="nav-link">
                    <a href="/logout" class="text-decoration-none d-block">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span>Déconnexion</span>
                    </a>
                </li>
            </div>
        </ul>
    </div>

    <!-- top navbar -->
    <nav id="top-navbar" class="body-padding no-transition">
        <div id="top-navbar-content" class="d-flex flex-row align-items-center justify-content-between">
            <i id="toggler" class="fa-solid fa-bars fa-xl clickable"></i>
            <div class="account d-flex flex-row align-items-center">
                <span><%= user.first_name %> <%= user.last_name %></span>
                <i class="fa-solid fa-user fa-xl clickable"></i>
            </div>
        </div>
    </nav>

    <!-- content -->
    <div id="wrapper" class="body-padding no-transition">
        <div id="content">
            <h1><%= title %></h1>

            <!-- form -->
            <form action="<%= action %>" method="<%= method %>" id="job-offer-form" class="mt-3" novalidate>

                <!-- section 1 -->
                <h2>Descriptif de l'offre</h2>
                
                <div class="form-section">

                    <!-- job_title -->
                    <div class="form-group">
                        <label for="job_title" class="control-label">Titre</label>
                        <input type="text" name="jobTitle" value="<%= offer.job_title %>" class="form-control" id="job_title" required>
                        <div class="invalid-feedback">Veuillez entrer le titre de l'offre.</div>
                    </div>

                    <!-- job_description -->
                    <div class="form-group mt-4">
                        <label for="job_description" class="control-label">Description</label>
                        <textarea id="job_description" name="jobDescription" class="form-control" rows="5" required><%= offer.job_desc %></textarea>
                        <div class="invalid-feedback">Veuillez entrer la description de l'offre.</div>
                    </div>

                    <!-- job_info -->
                    <div class="form-group mt-4">
                        <label for="job_info" class="control-label">Informations complémentaires</label>
                        <input type="text" name="jobInfo" value="<%= offer.info %>" class="form-control" id="job_info" required>
                        <div class="invalid-feedback">Veuillez entrer une information complétentaire.</div>
                    </div>

                    <!-- job_place -->
                    <div class="form-group form-small mt-4">
                        <label for="job_place" class="control-label">Lieu</label>
                        <input type="text" name="jobPlace" value="<%= offer.job_place %>" class="form-control" id="job_place" required>
                        <div class="invalid-feedback">Veuillez entrer le lieu de travail de l'offre.</div>
                    </div>

                    <!-- job_type -->
                    <div class="form-group form-small mt-4">
                        <label for="job_type" class="control-label">Type de métier</label>
                        <input type="text" name="jobType" value="<%= offer.job_type %>" class="form-control" id="job_type" required>
                        <div class="invalid-feedback">Veuillez entrer le type de métier de l'offre.</div>
                    </div>

                    <!-- job_status -->
                    <div class="form-group form-small mt-4">
                        <label for="job_status" class="control-label">Statut de poste</label>
                        <input type="text" name="jobStatus" value="<%= offer.job_status %>" class="form-control" id="job_status" required>
                        <div class="invalid-feedback">Veuillez entrer le statut de poste de l'offre.</div>
                    </div>

                    <!-- work_hours -->
                    <div class="form-group form-small mt-4">
                        <label for="job_work_hours" class="control-label">Heures / Semaine</label>
                        <input type="number" name="jobWorkHours" value="<%= offer.work_hours %>"min="0" max="50" class="form-control" id="job_work_hours" required>
                        <div class="invalid-feedback">Veuillez entrer un nombre d'heures / semaine valide.</div>
                    </div>

                    <!-- salary -->
                    <div class="form-small mt-4">
                        <label for="job_work_hours" class="control-label">Salaire</label>
                        <div id="job_work_hours" class="d-flex flex-row align-items-center">
                            <input type="number" name="jobSalaryMin" value="<%= offer.salary_min %>" min="0" max="300000" class="form-control" required>
                            <span class="ms-2 me-2"> à </span>
                            <input type="number" name="jobSalaryMax" value="<%= offer.salary_max %>" min="0" max="300000" class="form-control" required>
                        </div>
                    </div>

                    <!-- telework -->
                    <div class="form-group form-small mt-4">
                        <input type="checkbox" name="jobTelework" class="form-check-input" id="telework" <% if (offer.telework) { %>checked<% } %>>
                        <label for="telework" class="control-label ms-2">Télétravail</label>
                    </div>

                </div>

                <!-- section 2 -->
                <h2>Paramétrage de l'offre</h2>

                <div class="form-section">

                    <!-- offer_status -->
                    <div class="form-group form-small">
                        <label for="offer-status" class="control-label me-2">Statut de l'offre</label>
                        <select name="status" id="offer-status">
                            <option value="editing" <% if (offer.status === 'editing' || offer.status === undefined) { %>selected<% } %>>En cours</option>
                            <option value="published" <% if (offer.status === 'published') { %>selected<% } %>>Publiée</option>
                            <option value="expired" <% if (offer.status === 'expired') { %>selected<% } %>>Expirée</option>
                        </select>
                    </div>

                    <!-- offer_validity -->
                    <div class="form-group form-small mt-4">
                        <label for="offer-validity" class="control-label">Date de validité</label>
                        <input type="date" name="validity" value="<%= moment(offer.validity_date).format('YYYY-MM-DD') %>" min="<%= moment().add(1, 'day').format('YYYY-MM-DD') %>" class="form-control" id="offer-validity" required>
                        <div class="invalid-feedback">Veuillez entrer une date de validité valide.</div>
                    </div>

                </div>

                <h2>Validation</h2>

                <div class="form-section">
                    <div class="form-group d-flex flex-row align-items-center">
                        <input type="submit" name="submit" value="Sauvegarder" id="form-submit">
                        <span class="error submit-error d-none">Une erreur est survenue.</span>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- toasts -->
    <div id="toast-container" class="toast-container position-fixed"></div>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <script src="/javascript/dashboard.js"></script>
    <script src="/javascript/form-sender.js"></script>
</body>

</html>