<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Offres d'emploi</title>
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/candidate/candidate.css">
  <link rel="stylesheet" href="/stylesheets/candidate/job-offers.css">
</head>

<body>

  <!-- header -->
  <header>

    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">

        <!-- logo -->
        <a class="navbar-brand" href="/candidate">
          <img src="/images/logo.png" alt="logo">
        </a>

        <!-- toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- menu -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="link active" href="/candidate/job-offers">Offres d'emploi</a>
            </li>
            <li class="nav-item">
              <a class="link" href="/candidate/my-applications">Mes candidatures</a>
            </li>
            <% if(user.type==='recruiter' ) { %>
              <li class="nav-item">
                <a class="link" href="/recruiter/dashboard">Recruter</a>
              </li>
            <% } else if(user.type==='admin' ) { %>
              <li class="nav-item">
                <a class="link" href="/admin/dashboard">Administrer</a>
              </li>
            <% } else { %>
              <li class="nav-item">
                <a class="link" href="/candidate/become-recruiter">Devenir recruteur</a>
              </li>
              <li class="nav-item">
                <a class="link" href="/candidate/my-recruiter-requests">Mes demandes recruteur</a>
              </li>
            <% } %>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link link" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <%= user.first_name %> <%= user.last_name %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item link" href="/logout">
                    <i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section id="content" class="d-flex flex-column align-items-center light">

    <h1 class="h1 text-center" id="pageHeaderTitle">Offres d'emploi</h1>

    <button class="filter-button" data-bs-toggle="modal" data-bs-target="#offers-filters-modal">Filtrer</button>

    <% offers.forEach(offer=> { %>
      <article class="postcard light yellow">

        <img class="postcard__img" src="/images/company_img.jpg" alt="company img" />

        <div class="postcard__text t-dark">
          <h1 class="postcard__title yellow"><a href="/candidate/job-offers/<%= offer.offer_id %>">
              <%= offer.job_title %>
            </a></h1>
          <div class="postcard__subtitle small">
            <%= offer.organization_name %>
          </div>
          <div class="postcard__bar"></div>
          <ul class="postcard__tagbox">
            <li class="tag__item">
              <%= offer.job_status %>
            </li>
            <li class="tag__item">
              <%= offer.job_place %>
            </li>
            <li class="tag__item">
              <%= offer.job_type %>
            </li>
            <% if(offer.telework === 1) { %>
              <li class="tag__item">Télétravail</li>
              <% } %>
          </ul>
        </div>
      </article>
      <% }) %>

      <!-- case in which no offer has been found -->
      <% if(offers.length === 0) { %>
        <div class="text-center fs-5">Aucune offre trouvée.</div>
      <% } %>

        <!-- pagination -->
        <% if(pagination !==null) { %>
          <div class="pagination-container d-flex align-items-center justify-content-center">
            <nav aria-label="pagination">

              <ul class="pagination">
                <!-- previous -->
                <li class="page-item <%= pagination.previous === undefined ? 'disabled' : '' %>">
                  <a class="page-link previous" href="<%= pagination.previousURL %>">
                    <i class="fa-solid fa-angle-left"></i>
                  </a>
                </li>

                <!-- page numbers -->
                <% pagination.pagesURL.forEach((page)=> { %>
                  <li class="page-item">
                    <a class="page-link <%= page.number == pagination.current ? 'page-current' : '' %>"
                      href="<%= page.url %>">
                      <%= page.number %>
                    </a>
                  </li>
                  <% }) %>

                    <!-- next -->
                    <li class="page-item <%= pagination.next === undefined ? 'disabled' : '' %>">
                      <a class="page-link next" href="<%= pagination.nextURL %>">
                        <i class="fa-solid fa-angle-right"></i>
                      </a>
                    </li>
              </ul>
            </nav>
          </div>
          <% } %>

  </section>

  <!-- filters -->
  <div id="offers-filters-modal" class="modal fade filter-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- modal header -->
        <div class="modal-header">
          <h5 class="modal-title">Filtres</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <!-- modal body -->
        <div class="modal-body">

          <!-- offer_title -->
          <div class="form-group">
            <label for="offerTitle" class="control-label">Titre</label>
            <input type="text" name="offerTitle" class="form-control filter" id="offerTitle" data-filter-name="job_title" data-filter-type="contains">    
          </div>

          <!-- job_place -->
          <div class="form-group">
            <label for="jobPlace" class="control-label">Lieu</label>
            <input type="text" name="jobPlace" class="form-control filter" id="jobPlace" data-filter-name="job_place" data-filter-type="contains">    
          </div>

          <!-- job_status -->
          <div class="form-group">
            <label for="jobStatus" class="control-label">Type de contrat</label>
            <select name="jobStatus" id="jobStatus" class="filter" data-filter-name="job_status" data-filter-type="eq">
              <option value="">Tout</option>
              <option value="CDD">CDD</option>
              <option value="CDI">CDI</option>
            </select>
          </div>

          <!-- telework -->
          <div class="form-group">
            <label for="telework" class="control-label">Télétravail</label>
            <select name="telework" id="telework" class="filter" data-filter-name="telework" data-filter-type="eq">
              <option value="">Tout</option>
              <option value="1">Oui</option>
              <option value="0">Non</option>
            </select>
          </div>

          <!-- offer_creation_date -->
          <div class="form-group">
              <label for="offerCreationDate" class="control-label">Date de création</label>
              <div class="d-flex flex-row align-items-center">
                  <input type="date" name="offerCreationDateFrom" class="form-control filter" id="offerCreationDate" data-filter-name="creation_date" data-filter-type="ge">
                  <span class="ms-2 me-2"> au </span>
                  <input type="date" name="offerCreationDateTo" class="form-control filter" id="offerCreationDate" data-filter-name="creation_date" data-filter-type="le">
              </div>
          </div>

          <!-- organization_name -->
          <div class="form-group">
            <label for="organizationName" class="control-label">Organisation</label>
            <input type="text" name="organizationName" class="form-control filter" id="organizationName" data-filter-name="organization_name" data-filter-type="contains">    
          </div>

          <!-- organization_type -->
          <div class="form-group">
            <label for="organisationType" class="control-label">Type d'organisation</label>
            <select name="organisationType" id="organisationType" class="filter" data-filter-name="organization_type" data-filter-type="eq">
                <option value="">Tout</option>
                <option value="association">Association</option>
                <option value="sarl">SARL</option>
                <option value="eurl">EURL</option>
                <option value="sasu">SASU</option>
            </select>
          </div>

        </div>

        <!-- modal footer -->
        <div class="modal-footer">
          <button type="button" class="modal-clear-filter-button">Réinitialiser</button>
          <button type="button" class="modal-filter-button">Filtrer</button>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
  <script src="/javascript/filters.js"></script>

</body>

</html>